:root {
	// Site colors:
	// =================================================================
	--primary: #9564aa;
	--secondary: #c15ca1;
	--third: #ffcf2d;
	--accent: #0090c1;
	--inverse: #ffffff;

	// Background colors:
	// =================================================================
	--bg-primary: #9564aa; // BG primary background color
	--bg-secondary: #c15ca1; // BG secondary background color
	--bg-third: #ffcf2d; // BG secondary background color
	--bg-accent: #4cc9f0; // BG accent
	--bg-inverse: #ffffff; // BG inverse

	// Text colors:
	// =================================================================
	--text-primary: #000000;
	--text-secondary: #9564aa;
	--text-accent: #e8eddf;
	--text-inverse: #ffffff;
}
